@media only screen and (max-width: 700px) {

    /* Added Hamburger Menu styling and hiding the desktop nav bar. 
       Rewrote the Media Query as the previous one didn't do the job properly with the new hamburger menu
       Rewritten media query now works for Laptop aswell, due to some issues stated in the feedback. */

    .logo_text {
        font-size: 90%;
        margin-right: auto;
        margin-left: 5%;
        width: 50%;
    }
    
    .logo {
        justify-content: center;
        margin-top: 1%;
        margin-left: 10%;
    }

    .navigation_links {
        display: none;
    }

    .mobile-nav {
        display: block;
        overflow: hidden;
        position: relative;
    }

    #mobile-nav-links {
        display: none;
    }

    .mobile-nav {
        display: block;
        position: absolute;
        margin-top: 1%;
        right: 0;
        top: 0;
    }

    #hamburger:active {
        width: 40%;
        position: relative;
        border: solid 2px black;
        margin: auto;
        margin-top: 10%;
        margin-right: 10%;
    }

    #mobile-nav-links {
        display: flex;
        border: solid 2px black;
        flex-direction: column;
        background-color: white;
        width: 100%;
        margin-top: 7%;
    }

    #mobile-nav-links > a:active {
        background-color: rgb(184, 186, 189);
        text-decoration: none;
        width: 100%;
    }

    #mobile-nav-links > a {
        margin-top: 15%;
        font-size: 26px;
        margin-left: 2%;
        text-decoration: none;
    }

    #hamburger {
        display: flex;
        width: 40%;
        border: solid 1px black;
        position: relative;
        margin: auto;
        margin-top: 10%;
        margin-right: 10%;
        cursor: pointer;
    }

    .headerimg {
        display: none;
    }

    .specialevents_text {
        max-width: 90%;
        font-size: 1em;
        line-height: auto;
    }
    
    .organer {
        display: none;
    }

}

/* Tablet */

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  
    .logo_text {
        font-size: 90%;
        margin-right: auto;
        margin-left: 5%;
        width: 50%;
    }
    
    .logo {
        justify-content: center;
        margin-top: 1%;
        margin-left: 10%;
    }

    .navigation_links {
        display: none;
    }

    .mobile-nav {
        display: block;
        overflow: hidden;
        position: relative;
    }

    #mobile-nav-links {
        display: none;
    }

    .mobile-nav {
        display: block;
        position: absolute;
        margin-top: 1%;
        right: 0;
        top: 0;
    }

    #hamburger:active {
        width: 40%;
        position: relative;
        border: solid 2px black;
        margin: auto;
        margin-top: 10%;
        margin-right: 10%;
    }

    #mobile-nav-links {
        display: flex;
        border: solid 2px black;
        flex-direction: column;
        background-color: white;
        width: 100%;
        margin-top: 7%;
    }

    #mobile-nav-links > a:active {
        background-color: rgb(184, 186, 189);
        text-decoration: none;
        width: 100%;
    }

    #mobile-nav-links > a {
        margin-top: 15%;
        font-size: 26px;
        margin-left: 2%;
        text-decoration: none;
    }

    #hamburger {
        display: flex;
        width: 40%;
        border: solid 1px black;
        position: relative;
        margin: auto;
        margin-top: 10%;
        margin-right: 10%;
        cursor: pointer;
    }

    .headerimg {
        display: none;
    }

    .specialevents_text {
        max-width: 80%;
        font-size: 1em;
        line-height: auto;
    }

    .organer {
        display: none;
    }

}