@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #F7F7F7;
    box-shadow: 0px 1px 7px grey; 
  
}
nav a:hover {
    color: grey;
    text-decoration: underline;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

.logo_text a:hover {
    text-decoration: none;
    color: #000000;
}

.logo_text {
    color: #000000;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 450px;
}

.logo {
    width: 70px;
    height: auto;
    align-items: flex;
}

.navigation_links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.navigation_links li {
    list-style: none;
}

.navigation_links p {
    color: #000000;
    text-decoration: none;
    font-size: 19px;
}

.navigation_links h5 {
    color: #3a3a3a;
    text-decoration: solid;
    font-size: 21px;
}

.hamburger_bar {
 display: none;
}

.hamburger_bar div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
}

.pageimg {
    width: 100%;
}

.shortened {
    max-width: 800px;
    margin: auto;
    margin-left: 366px;
    margin-top: 100px;
    text-align: left;
    font-size: 1.1em;
    line-height: 230%;
    font-family: 'Open Sans', sans-serif;
}

.shortened2 {
    max-width: 700px;
    margin-left: 200px;
    margin-top: 80px;
    font-size: 1em;
    line-height: 230%;
}

footer {
    padding: 10px 10px;
}

/* -----Explore CSS----- */

.explore_text {
    max-width: 50%;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 1em;
    line-height: 180%;
}

.shortenedexplore {
    display: flex;
    flex-direction: row-reverse;
}

.mammoth {
    vertical-align: top;
    max-width: 50%;
    max-height: 30%;
    padding: 3% 6%;
    opacity: 85%;
}

.shortenedexplore > .explore_text {
    flex: 2 0 0%;
    margin: auto;
}

.exploreheaderimg {
    background-image: url(/images/learn-2405206_1920.png);
    height: 310px;
    width: auto;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-top: 0;
    background-attachment: fixed;
    background-position: center top;
    opacity: 50%;
}

/* -----Exhibition CSS----- */

.shortened_exhibition {
    display: flex;
    flex-direction: row-reverse;
}

.heart {
    max-width: 50%;
    height: 50%;
    opacity: 70%;
    padding: 5%;
}

.exhibitiontext {
    max-width: 50%;
    font-size: 1em;
    line-height: 230%;
    padding: 5% 10%;

}

.shortened_exhibition {
    flex: 1 0 0%;
    text-align: left
}

.exhibitionheaderimg {
    background-image: url(/images/skeleton-414543_1920.png);
    height: 310px;
    width: auto;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-top: 0;
    background-attachment: fixed;
    background-position: center top;
    opacity: 50%;
}

/* -----Special Events ----- */

.specialeventsheaderimg {
    background-image: url(/images/billetto-editorial-334686\ -\ Copy.png);
    height: 310px;
    width: auto;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-top: 0;
    background-attachment: fixed;
    background-position: center top;
    opacity: 50%;
}

.specialevents_text {
    max-width: 40%;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 1em;
    line-height: 230%;
}

.specialevents_text h3 {
    text-decoration: underline;
}

.organer {
    vertical-align: top;
    max-width: 40%;
    height: auto;
    padding: 5% 5%;
    opacity: 85%;
}
.shortened_specialevents {
    display: flex;
    flex-direction: row;
}
    
/* -----Visit CSS----- */

.visit_text {
    max-width: 40%;
    font-size: 1em;
    line-height: auto;
}

.shortened_visit {
    display: flex;
    flex-direction: row-reverse;
}

.libraryimg {
    max-width: 50%;
    height: auto;
    padding: 30% auto;
    opacity: 70%;
}

.shortened_visit > .visit_text {
    flex: 2 0 0%;
    margin: auto;
}

.visitheaderimg {
    background-image: url(/images/william-bout-264826_2.png);
    height: 310px;
    width: auto;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-top: 0;
    background-attachment: fixed;
    background-position: center top;
    opacity: 50%;
}

/* -----Get Involved CSS----- */

.involved_text {
    max-width: 700px;
    margin-left: 200px;
    margin-top: 90px;
    font-size: 1em;
    line-height: 230%;
}

.shortened_involved {
    display: flex;
    flex-direction: row;
}

.involvedimg {
    vertical-align: top;
    max-width: 50%;
    height: auto;
    padding: 20px 60px;
    opacity: 85%
}

.shortened_involved > .involved_text {
    flex: 2 0 0%;
    margin: auto;
}

.getinvolvedheaderimg {
    background-image: url(/images/scientific-2040795_1280_2.png);
    height: 310px;
    width: auto;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-top: 0;
    background-attachment: fixed;
    background-position: center top;
    opacity: 50%;
}


.headertext {
    color: #000000;
    position: absolute;
    bottom: 670px;
    left: 200px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-decoration: solid;
    
}

/* -----Index CSS----- */

.background {
    height: 100vh;
    background-image: url(/images/jesse-orrico-60373_2.png);
}

.index_text {
    font-size: 25px;
    max-width: 65%;
    text-align: left;
    justify-content: center;
    padding: 8% 5%;
    font-family: 'Open Sans', sans-serif;
}

.indexfooter {
    position: absolute;
    bottom: -5;
    padding: 10px 10px;
}