@media only screen and (max-width: 600px) {
    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: #F7F7F7;
        box-shadow: 0px 1px 7px grey; 
    }

    .logo_text {
        font-size: 15px;
        margin-left: 10px;
    }
    
    .logo {
        height: auto;
        width: auto;
        left: 0;
        top: 0;
        margin-left: 320px;
    }
    
    .navigation_links {
        display: flex;
        text-align: right;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        font-size: 5px;
        margin-left: 150px;
    }

    .navigation_links p {
        font-size: 10px;
    }

    .navigation_links h5 {
        text-decoration: solid;
        font-size: 16px;
    }

    .navigation_links li {
        list-style: none;
        font-size: 5px;
    }
    
    .pageimg {
        display: none;
    }
    .headerimg {
        display: none;
    }
    
}

@media only screen and (max-width: 600px) {
    .involved_text {
        max-width: 250px;
        font-size: 12px;
        line-height: 200%;
        margin-left: 10px;
    }
    
    .involvedimg {
        display: none;
    }
    
    .getinvolvedheaderimg {
        display: none;
    }
    footer {
        background-color: #F7F7F7;
        padding: 20px 10px;
        font-size: 10px;
    }
}

@media only screen and (min-height: 600px) and (max-height: 850px) {
    .involved_text {
        max-width: 300px;
        font-size: 1em;
        line-height: auto;
    }
    
    .involvedimg {
        display: none;
    }
    
    .getinvolvedheaderimg {
        display: none;
    }
    footer {
        background-color: #F7F7F7;
        padding: 20px 10px;
        font-size: 12px;
    }
}